*          text auto
*.pyd      binary
*.png      binary
*.jpg      binary
*.xls      binary
*.xlsx     binary
*.pdf      binary
*.gif      binary
*.PNG      binary
*.lnk      binary
*.ico      binary
*.py       text
*.pyw      text
*.pyx      text
*.c        text
*.h        text
*.cpp      text
*.hpp      text
*.rst      text
*.xml      text
*.json     text
*.dat      text
*.txt      text

